---
import Layout from '../layouts/Layout.astro';
import Sphere from '../components/Sphere.astro'
---

<Layout title="Gianluca Onisanti">
	<main>
		<div id="1"/>
		<div style="margin-top: 120px; height: 2000px;">
			<div class="topic-container-name">
				<h1 class="topic">Gianluca S. Onisanti</h2>
				<div style="padding: 30px">
					<Sphere imageSrc="/images/landscape.jpg" />
				</div>
			</div>
			<div class="text">
				Esse é meu nome, porém você pode simplesmente me chamar de Gian. Tenho muito apreço pelo que faço,
				sendo um Programador Full Stack com umas palhinhas aqui e alí em design e criação de jogos.
				Adoro permear entre os mundos de Dados, API's e Interfaces Visuais.
				<br />
				<br />
				Muito pouco espaço para muito a se ver! Venha me conhecer um pouco mais abaixo.
				<br />
				<br />
				<a href="https://linkedin.com/in/gianluca-onisanti">Oi</a>
			</div>
		</div>

		<div id="2">oi </div>
	</main>
</Layout>
